.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
build-aux/
client/remctl
config.h
config.h.in
config.h.in~
config.log
config.status
configure
docs/remctld.8.in
libtool
perl/Makefile.PL
perl/Remctl.bs
perl/Remctl.c
perl/blib/
perl/pm_to_blib
server/remctld
stamp-h1
tests/client/api-t
tests/client/pod-t
tests/client/large-t
tests/client/open-t
tests/data/cmd-background
tests/data/cmd-closed
tests/data/cmd-streaming
tests/data/test.keytab
tests/data/test.principal
tests/portable/asprintf-t
tests/portable/getaddrinfo-t
tests/portable/getnameinfo-t
tests/portable/getopt-t
tests/portable/inet_aton-t
tests/portable/inet_ntoa-t
tests/portable/inet_ntop-t
tests/portable/setenv-t
tests/portable/snprintf-t
tests/portable/strlcat-t
tests/portable/strlcpy-t
tests/runtests
tests/server/accept-t
tests/server/acl-t
tests/server/background-t
tests/server/config-t
tests/server/continue-t
tests/server/env-t
tests/server/errors-t
tests/server/invalid-t
tests/server/streaming-t
tests/server/version-t
tests/util/concat-t
tests/util/fdflag-t
tests/util/gss-tokens-t
tests/util/messages-t
tests/util/network-t
tests/util/tokens-t
tests/util/vector-t
tests/util/xmalloc
tests/util/xwrite-t
*.1
*.3
*.8
*.a
*.la
*.lo
*.o
