/build-aux/
/client/libremctl.pc
/client/remctl
/docs/protocol.html
/docs/protocol.txt
/docs/remctld.8.in
/java/build.xml
/java/local.properties
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/perl/Makefile.PL
/perl/Makefile.old
/perl/Remctl.bs
/perl/Remctl.c
/perl/Remctl.pm
/perl/blib/
/perl/pm_to_blib
/perl/t/api.t
/php/Makefile.*
/php/acinclude.m4
/php/autom4te.cache/
/php/build/
/php/config.guess
/php/config.m4
/php/config.nice
/php/config.sub
/php/configure.in
/php/install-sh
/php/ltmain.sh
/php/missing
/php/mkinstalldirs
/php/modules/
/php/php_remctl.h
/php/php_test_results_*.txt
/php/run-tests.php
/php/tmp-php.ini
/python/MANIFEST
/python/build
/python/dist
/python/remctl.py
/python/setup.py
/python/test_remctl.py
/ruby/doc/
/ruby/extconf.rb
/ruby/mkmf.log
/ruby/remctl.so
/ruby/test_remctl.rb
/remctl-*.tar.gz
/server/remctld
/stamp-h1
/stamp-python
/tests/client/api-t
/tests/client/ccache-t
/tests/client/pod-t
/tests/client/large-t
/tests/client/open-t
/tests/client/source-ip-t
/tests/data/cmd-background
/tests/data/cmd-closed
/tests/data/cmd-stdin
/tests/data/cmd-streaming
/tests/data/test.cache
/tests/data/test.keytab
/tests/data/test.principal
/tests/portable/asprintf-t
/tests/portable/daemon-t
/tests/portable/getaddrinfo-t
/tests/portable/getnameinfo-t
/tests/portable/getopt-t
/tests/portable/inet_aton-t
/tests/portable/inet_ntoa-t
/tests/portable/inet_ntop-t
/tests/portable/setenv-t
/tests/portable/snprintf-t
/tests/portable/strlcat-t
/tests/portable/strlcpy-t
/tests/runtests
/tests/server/accept-t
/tests/server/acl-t
/tests/server/background-t
/tests/server/bind-t
/tests/server/config-t
/tests/server/continue-t
/tests/server/env-t
/tests/server/errors-t
/tests/server/invalid-t
/tests/server/logging-t
/tests/server/stdin-t
/tests/server/streaming-t
/tests/server/version-t
/tests/util/concat-t
/tests/util/fdflag-t
/tests/util/gss-tokens-t
/tests/util/messages-t
/tests/util/network-t
/tests/util/tokens-t
/tests/util/vector-t
/tests/util/xmalloc
/tests/util/xwrite-t
.deps
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
*.1
*.3
*.8
*.a
*.class
*.jar
*.la
*.lo
*.loT
*.o
*.pyc
*.tgz
