Source: remctl
Section: net
Priority: optional
Maintainer: Russ Allbery <rra@debian.org>
Build-Depends: debhelper (>= 5), libkrb5-dev
Standards-Version: 3.7.2

Package: libremctl1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Library for Kerberos-authenticated command execution
 remctl is a client/server protocol for executing specific commands on a
 remote system with Kerberos authentication.  The allowable commands must
 be listed in a server configuration file, and the executable run on the
 server may be mapped to any command name.  Each command is also
 associated with an ACL containing a list of Kerberos principals
 authorized to run that command.
 .
 This package contains the client libraries linked against MIT Kerberos.
 .
  Homepage: http://www.eyrie.org/~eagle/software/remctl/

Package: libremctl-dev
Section: libdevel
Priority: extra
Architecture: any
Depends: libremctl1 (= ${Source-Version}), ${shlibs:Depends}, libkrb5-dev
Description: Development files for Kerberos-authenticated command execution
 remctl is a client/server protocol for executing specific commands on a
 remote system with Kerberos authentication.  The allowable commands must
 be listed in a server configuration file, and the executable run on the
 server may be mapped to any command name.  Each command is also
 associated with an ACL containing a list of Kerberos principals
 authorized to run that command.
 .
 This package contains the development files for client libraries linked
 against MIT Kerberos.
 .
  Homepage: http://www.eyrie.org/~eagle/software/remctl/

Package: remctl-client
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: remctl (<< 1.10-1)
Replaces: remctl (<< 1.10-1)
Description: Client for Kerberos-authenticated command execution
 remctl is a client/server protocol for executing specific commands on a
 remote system with Kerberos authentication.  The allowable commands must
 be listed in a server configuration file, and the executable run on the
 server may be mapped to any command name.  Each command is also
 associated with an ACL containing a list of Kerberos principals
 authorized to run that command.
 .
 This package contains the client program (remctl).
 .
  Homepage: http://www.eyrie.org/~eagle/software/remctl/

Package: remctl-server
Architecture: any
Depends: ${shlibs:Depends}, netbase, tcpd
Conflicts: remctl (<< 1.10-1)
Replaces: remctl (<< 1.10-1)
Description: Server for Kerberos-authenticated command execution
 remctl is a client/server protocol for executing specific commands on a
 remote system with Kerberos authentication.  The allowable commands must
 be listed in a server configuration file, and the executable run on the
 server may be mapped to any command name.  Each command is also
 associated with an ACL containing a list of Kerberos principals
 authorized to run that command.
 .
 This package contains the server (remctld).
 .
  Homepage: http://www.eyrie.org/~eagle/software/remctl/
