#!/usr/bin/make -f

CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

# The primary Python version, used to ensure that we run the test suite with
# the module built for the default version of Python.
export PYTHON_INSTALL := --install-layout=deb
export PYTHON_VERSION := $(shell pyversions -dv)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --sysconfdir=/etc/remctl \
	    --enable-reduced-depends --enable-perl --enable-php \
	    --enable-python

# We rebuild the remctl client because Automake and Libtool combine to force
# remctl to be linked against all the dependencies of libremctl, which
# creates unnecessary dependencies.  Ones that probably won't matter, mind,
# but let's do this right anyway.
#
# We rebuild the Perl module to encode the right installation paths, since
# otherwise it defaults to using the local site module path.
#
# We rebuild the Python module so that we have builds for each of the
# supported versions of Python.
override_dh_auto_build:
	dh_auto_build
	cd $(CURDIR)/perl && $(MAKE) clean && perl Makefile.PL \
	    INSTALLDIRS=vendor
	cd $(CURDIR)/perl && $(MAKE) OPTIMIZE="$(CFLAGS)"
	gcc $(CFLAGS) -o client/.libs/remctl client/remctl.o \
	    client/.libs/libremctl.so util/.libs/libutil.a
	set -e; cd python && for v in `pyversions -vs` ; do \
	    CFLAGS="$(CFLAGS)" python$$v setup.py build ; \
	done

# Override install to check for missing installed files and to do the proper
# Python module installation
override_dh_install:
	set -e; cd python && for v in `pyversions -vs` ; do \
	    python$$v setup.py install --install-layout=deb \
		--root $(CURDIR)/debian/tmp ; \
	done
	dh_install --fail-missing -Xlibremctl.la

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_makeshlibs:
	dh_makeshlibs -V 'libremctl1 (>= 2.10)'

# Override dh_gencontrol to set up the substvar for the PHP dependency.
override_dh_gencontrol:
	echo "php:Depends=phpapi-`php-config5 --phpapi`" \
	    >> debian/php5-remctl.substvars
	dh_gencontrol
